* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
}

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
}

#home #nav {
    height: 100px;
    width: 100%;
    padding: 50px 50px 5px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#nav h3 {
    font-size: 45px;
    font-family: "DELIRIUM NCV";
    font-weight: 600;
    letter-spacing: 5px;
}

#nav a {
    font-size: 30px;
    font-family: "DELIRIUM NCV";
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#nav a i {
    margin-left: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

#home #top {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

#home #top a {
    margin-top: 3px;
    text-decoration: none;
    font-family: "DELIRIUM NCV";
    font-weight: 100;
    letter-spacing: 2px;
    opacity: .8;
    color: black;
}

#top-right {
    height: 130px;
    width: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Delirium NCV";
    font-size: 20px;
    letter-spacing: 2px;
}

#top-right h5:nth-child(1) {
    color: rgba(0, 0, 0, 0.312);
    font-weight: 100;
}

#top-right h5:nth-child(3) {
    font-weight: 100;
}

#top-right h5:nth-child(5) {
    color: rgba(0, 0, 0, 0.312);
    font-weight: 100;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.224);
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45vw;
    width: 45vw;
    background: linear-gradient(to bottom right, rgb(89, 216, 197), rgb(32, 176, 154));
    border-radius: 50%;
    z-index: 999;
}

#home img {
    height: 510px;
    position: absolute;
    top: 63.5%;
    left: 52%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(20px 5px 20px rgba(0, 0, 0, 0.372));
    z-index: 9999;
    background-origin: 99999;
}

#bottom {
    position: absolute;
    bottom: 8%;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 50px;
    z-index: 9999;
}

#bottom-left h2 {
    font-family: "Delirium NCV";
    font-weight: 100;
    line-height: 1;
    font-size: 8vw;
    letter-spacing: 5px;
}

#bottom-left p {
    opacity: .7;
    font-family: gilroy;
}

#bottom-right a {
    color: black;
    text-decoration: none;
    font-family: "Delirium NCV";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-right a i {
    color: white;
    background-color: rgb(32, 176, 154);
    border-radius: 50%;
    padding: 9px;
    margin-left: 10px;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #fefefe;
    position: relative;
}

#page-text {
    padding: 40px 50px;
}

#page2 h1 {
    font-size: 9vh;
    font-weight: 100;
    font-family: "gilroy";
}

#page2 p {
    font-weight: 500;
    font-family: "gilroy";
    width: 40%;
    opacity: .5;
}

#page2-box {
    position: relative;
    margin-top: 40px;
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 40px;
    display: flex;
    overflow-x: auto;
    padding: 0 50px;
}

#page2-box::-webkit-scrollbar {
    display: none;
}

.slide {
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    position: relative;
    transition: all ease 0.3s;
}

.slide img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.slide img:nth-child(1) {
    filter: grayscale();
}

.slide img:nth-child(2) {
    clip-path: circle(0% at 100px 100px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 50px 0 0 50px;
    overflow: hidden;
    position: relative;
}

#page-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#page-left h1 {

    font-size: 4vh;
    font-family: "DELIRIUM NCV";
    font-weight: 800;
    letter-spacing: 4px;
    /* margin-left: 30px; */
    margin-top: -30%;
}

#page-left h4 {
    margin-bottom: 30px;
    font-size: 2.5vh;
    font-weight: 100;
    font-family: "gilroy";
    opacity: .8;
    width: 25%;
    /* margin-left: 40%; */
}

#page-left p {
    font-size: 2.5vh;
    font-weight: 300;
    font-family: "gilroy";
    opacity: .5;
    width: 37%;
    /* margin-left: 35%; */
}

#page-right1 #page-img {

    width: 200%;
    height: 90%;
    /* margin-left: 113%; */
    transform: translate(10%, 0%);

    background-image: url(https://images.unsplash.com/photo-1603489243462-58c25be82b9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRvd2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

#page-img h1 {

    transform: translate(-30%, 105%);
    opacity: .5;

    font-size: 18vw;

    font-weight: 100;
}

#page4 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
}

#page-right {
    height: 100vh;
    width: 40%;
    background-image: url(https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}

#page-left {
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-left h1 {
    margin-bottom: 20px;
    font-size: 4vw;
    font-family: gilroy;
    font-weight: 500;
}

#page-left a {
    margin-top: 20px;
    text-decoration: none;
    color: black;
    opacity: .5;
    font-size: 1.5vw;
    font-family: gilroy;
    font-weight: 500;
    letter-spacing: 2.5px;
}

#page-left a:nth-child(2) {
    opacity: 1;
}


















@media(max-width:500px) {
    #home #nav {
        padding: 0 20px;
        align-items: center;
    }

    #nav h4 {
        font-size: 25px;
    }

    #nav a {
        margin-top: 10px;
    }

    #nav a i {
        height: 20px;
        width: 20px;
    }

    #home #top {
        padding: 0 20px;
        margin-top: -30px;
    }

    #top-right {
        height: 90px;
        width: 45px;
        right: -6%;
    }

    #bottom {
        padding: 0 20px;
    }

    #bottom-left h2 {
        font-size: 15vw;
    }

    #bottom-left p {
        font-size: 4vw;
    }

    #circle {
        height: 80vw;
        width: 80vw;
    }

    #home img {
        height: 125vw;
        left: 55%;
        z-index: 999;
    }

    #p2-text {
        padding: 25px 20px;
    }

    #page2 p {
        width: 92%;
        font-size: 3.7vw;
    }

    #page2-box {
        gap: 10px;
        height: 35vh;
        margin-top: 30px;
        padding: 0 15px;
    }

    .slide {
        width: 95%;
    }

    #page2 {
        min-height: 75vh;
    }

    #page-left h1 {
        font-size: 16vw;
        margin-left: 0px;
    }

    #page-left h4 {
        width: 100%;
        font-size: 3vw;
        margin-bottom: 15px;
    }

    #page3 {
        padding: 0 0 0 20px;
        height: 70vh;
    }

    #page-left h1 {
        width: 90%;
        font-size: 4vh;
    }

    #page-left h4 {

        width: 90%;
        font-size: 1.4vh;

    }

    #page-left p {
        width: 90%;
        font-size: 1.4vh;
    }

    #page-right #page-img {
        margin-top: 100px;
        width: 155px;
        height: 50vh;


    }

    #page-img h1 {
        font-size: 30vw;



    }

    #page4 {
        flex-direction: column;
    }

    #page-left {
        width: 100%;
        height: 40vh;
    }

    #page-right {
        height: 58vh;
        width: 100%;
    }

    #page-left h1 {
        font-size: 9vw;
    }

    #page-left a {
        margin-top: 10px;
        font-size: 3.5vw;
    }
}